{% load i18n %}

    <div class="container">
    <br>
		<div class="categories js-tabs-container">
            {% ifequal active "participating" %}
                <a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">Participando <i class="fa fa-chevron-down"></i></a>
            {% else %}
                <a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{% trans "Left" %} <i class="fa fa-chevron-down"></i></a>
            {% endifequal %}

			<div class="tab-content js-tab-content js-categories-content">
				<ul class="menu">
                    <li><a class="menu-link" href="{% url "foro:private-created-list" %}" >Abandonados</a></li>
                    <li><a class="menu-link" href="{% url "foro:private-list" %}" >Participando</a></li>
				</ul>
			</div>
		</div>

        <div class="new-topic">
            <a class="button" href="{% url "foro:private-publish" %}">Crear un tema privado</a>
		</div>
	</div>
