{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Publicar un tema privado{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="headline">Publicar un tema privado</h1>

    <form action="." method="post" class="js-reply">
        {% csrf_token %}
        {% include "foro/_form.html" with form=tform %}
        {% include "foro/_form.html" with form=tpform %}

        <div class="topic-publish-comment">
            {% include "foro/_form.html" with form=cform %}
        </div>

        <div class="container">
            {% include "foro/comment/_editor.html" %}

            <input class="button reply-button" type="submit" value="Publicar" />
        </div>
    </form>
    </div>
{% endblock %}
