{% load spirit_tags i18n %}

{% if user.is_authenticated %}
    {% populate_bookmarks topics=page user=user  %}
{% endif %}

    <ul class="messages-info">
        <li> <i class="fa fa-info-circle"></i> Estamos trabajando duro para desarrollar DevHunter. Por esta razón algunas funcionalidades aún no están  disponibles, excepto este foro. Siente libre de contribuir, ver el progreso o reportar algún bug en <a href="https://github.com/devhunterco/app">Github. </a></li>
    </ul>

{# topic list #}
        <div class="rows">

        {% for t in page %}
			<div class="row">

                <div class="row-title">
                    {% if t.is_pinned %}
                        <i class="fa fa-thumb-tack"></i>
                    {% endif %}
                    {% if t.is_closed %}
                        <i class="fa fa-lock"></i>
                    {% endif %}

                    {% if t.bookmark %}
                       <a class="row-link" href="{{ t.bookmark.get_absolute_url }}">{{ t.title }} <strong> Por {{t.user.email}}</strong></a>
                    {% else %}
                        <a class="row-link" href="{{ t.get_absolute_url }}">{{ t.title }}</a>
                    {% endif %}
                </div>
                <div class="row-info">
                    <div>

                    </div>

                </div>

			</div>
        {% empty %}
            <p>{% trans "There are no topics here, yet" %}</p>
        {% endfor %}

		</div>
