{% extends "foro/_base.html" %}

{% load i18n %}
{% load gravatar %}
{% block title %}Agenda{% endblock %}

{% block content %}


<div id="upto-calendar-container-jmeO" class="upto-calendar-plugin"><script>!function(c,b,a){function d(h){var e=document.getElementById("upto-calendar-container-"+c),f=document.createElement("SCRIPT"),g="https://upto.com/js/plugin.js";f.onreadystatechange=function(){if(f.readyState==="loaded"||f.readyState==="complete"){f.onreadystatechange=null;h()}};f.onload=function(){h()};f.setAttribute("src",g);e.parentNode.insertBefore(f,e)}d(function(){upto.init(c)})}("jmeO");</script></div>

{% endblock %}
