{% extends "foro/_base.html" %}
{% block title %} {{event.title}} {% endblock %}
{% load foro_tags i18n %}


{% block content%}
<div class="container">

          <div class="row">
            <!-- General info -->
            <div class="col-md-3">
               <div class="list-group">
                    <a href="https://trello.com/b/vbgSpQZs/tareas-devhunter" target="_blank" class="list-group-item">
                    <i class="fa fa-trello"></i> Tareas y agenda
                    </a>
                    <a href="https://github.com/devhunterco" target="_blank" class="list-group-item"><i class="fa fa-github"></i> Repositorios </li>
                    </a>
                    <a href="https://gitter.im/devhunterco/General" target="_blank" class="list-group-item"><i class="fa fa-comments-o"></i> Chat </li>
                    </a>
                </div>
                {% for miembro in miembros_email %}
                <img class="avatar-list" src="{% get_gravatar_url miembro 60 %}" alt="">
                {% empty %}
                <p>No hay miembros</p>
                {% endfor %}

                <ul class="numbers list-group">
                    <li class="list-group-item">
                        <span class="badge">{{miembros_count}}</span>
                         Miembros
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Reuniones pasadas
                    </li>
                </ul>
            </div>

            <!-- Eventos -->
  <div class="col-md-6">
      <h1><strong>{{event.title}}</strong></h1>
      <span>{{event.due_date}}</span><br>
      <span><a href="">{{event.lugar}}</a></span>
      <br>
       <hr>
      <p>{{event.post_text}}</p>

      <hr>
      <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'devhunterco';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



  </div>



            {% include "recent_activity.html" %}
            {% include "sponsors.html" %}



</div>


{% endblock %}
