{% extends "foro/_base.html" %}
{% block title %} Inicio  {% endblock %}
{% load foro_tags i18n %}


{% block content %}
<div class="container">


        <div  class="row ">
            <!-- General info -->
            <div class="col-md-3">
               <div class="list-group">

                    <a href="https://github.com/secbi-ucc" target="_blank" class="list-group-item"><i class="fa fa-github right-icon"></i> Repositorios
                    </a>
                </div>
                <ul class="numbers list-group">
                    <li class="list-group-item">
                        <span class="badge">{{miembros_count}}</span>
                         Miembros
                    </li>
                </ul>
                {% for miembro in miembros_email %}
                    <div style="margin-top:5px;">
                        <a href="discusion/user/{{miembro.id}}"><img style="border-radius:5px;"  src="{% get_gravatar_url miembro 50 %}" alt=""></a>
                        <span><a style="font-size:12px;" href="discusion/user/{{miembro.id}}">{{miembro.get_full_name}}</a></span>
                    </div>
                {% empty %}
                <p>No hay miembros</p>
                {% endfor %}


            </div>

<!-- Eventos -->
  <div style="background:white;" class="col-md-9 col-sm-12">
      <h2><strong>Aportes</strong></h2>
        <hr>

    {% include "foro/topic/_top_bar.html" with category=None categories=categories %}
    {% include "foro/topic/_render_page_list.html" %}




  </div>

</div>
</div>
{% endblock %}
