{% extends "foro/_base.html" %}
{% block title %}Comunidad {% endblock %}

{% block content %}
 <!-- Page Content -->
    <div  class="container ">
        <!-- Heading-->
        <div class="row">
            <div class="col-md-3">
                <img style="width:300px;" class="img-responsive img-rounded" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
            </div>
            <div  class="col-md-8">
                <h1><strong>Bienvenido a la comunidad DevHunter !</strong></h1>
                <p> DevHunter es una comunidad de libre esparcimiento de ideas y conocimiento en software y hardware libre formando por desarrolladores y emprendedores de Córdoba, Colombia.</p>
                {% if user.is_authenticated %}
                <a class="btn-primary btn-lg" href="/discusion/"><i class="fa fa-pencil"></i>&nbsp;Participa! </a>
                <br><br>
                {% else %}
                <p><a class="btn-primary btn-lg" href="/discusion/user/register/"> <i class="fa fa-users"></i>&nbsp;Únete!</a>&nbsp;o&nbsp;<a href="/equipo/"> Conoce más</a></p>

                {% endif %}
            </div>
        </div>

         <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Visita <a href="http://docs.devhunter.co">Devhunter <i class="fa fa-book"></i> docs</a> para encontar el material y recusos compartidos por nuestros colaboradores.
                </div>
            </div>
            <!-- /.col-lg-12 -->

        <div class="row">
            <!-- General info -->
            <div class="col-md-3">
               <div class="list-group">
                    <a href="https://trello.com/b/vbgSpQZs/tareas-devhunter" target="_blank" class="list-group-item">
                    <i class="fa fa-trello"></i> Tareas y agenda
                    </a>
                    <a href="https://github.com/devhunterco" target="_blank" class="list-group-item"><i class="fa fa-github"></i> Repositorios </li>
                    </a>
                    <a href="https://gitter.im/devhunterco/General" target="_blank" class="list-group-item"><i class="fa fa-comments-o"></i> Chat </li>
                    </a>
                </div>
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                <img class="avatar-list" src="{{STATIC_URL}}inicio/images/logo.png" alt="">

                <ul class="numbers list-group">
                    <li class="list-group-item">
                        <span class="badge">34</span>
                         Miembros
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Eventos
                    </li>
                </ul>
            </div>
            <!-- Eventos -->
            <div class="col-md-6">
                <h2><strong>Spin-offs y eventos</strong></h2>
                <hr>
                <div class="event">
                    <h2><a class="event-title" href="">Git y Github: Trabajo colaborativo en el desarrollo web</a></h2>
                    <div class="meta">
                        <a href=""><i class="fa fa-clock-o"></i>  20 Marzo 2015 3:30 PM</a>
                        |
                        <a href=""><i class="fa fa-file-code-o"></i> Documentación</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ex fugiat ratione nostrum adipisci magnam hic, sapiente </p>
                </div>
                <div class="event">
                    <h2><a class="event-title" href="">Git y Github: Trabajo colaborativo en el desarrollo web</a></h2>
                    <div class="meta">
                        <a href=""><i class="fa fa-clock-o"></i>  20 Marzo 2015 3:30 PM</a>
                        |
                        <a href=""><i class="fa fa-file-code-o"></i> Documentación</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ex fugiat ratione nostrum adipisci magnam hic, sapiente </p>
                </div>

                <h2><strong>Artículos</strong></h2>

                <hr>


            </div>
            <!-- Feed -->
            <div class="col-md-3">
                <h2><strong>Actividad reciente</strong></h2>
                <hr>
                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-user"></i> Nuevo miembro </span>
                    <p><a href="">Juanito Carlos</a> se unio.</p>

                </div>
                <div class="feed-item">
                    <span class="feed-title"> <i class="fa fa-camera-retro"></i> Nueva foto </span>
                     <img class="feed-img" src="http://static.bigstockphoto.com/images/landing/1/growingCollection.png" alt="">
                     <p><a href="">Juanito Carlos</a> agrego una foto al evento <a href="">Rock & Roll.</a></p>
                </div>

                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-comment-o"></i> Nuevo comentario </span>
                    <p><a href="">Juanito Carlos</a> comento en el tema <a href="">Mi madre me pega.</a></p>

                </div>
                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-comment-o"></i> Nuevo comentario </span>
                    <p><a href="">Juanito Carlos</a> comento en el tema <a href="">Mi madre me pega.</a></p>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
            <div style="margin:0; background-color:#FAFAFA;" class="row">
            <div style="text-align:center; padding-bottom:20px;">
               <h2><strong>Ellos nos apoyan</strong></h2>


                        <center>
                        <a href="http://brujulab.co"><img src="{{STATIC_URL}}inicio/images/brujulab.png"></a>
                        <a href="http://caribemesh.org"><img src="{{STATIC_URL}}inicio/images/caribemesh_logo.png"></a>
                        <a href="http://www.caribecoders.com"><img style="border-radius: 0.4em;" src="{{STATIC_URL}}inicio/images/caribecoders.png"></a>
                        </center>
            </div>
        </div>




{% endblock %}
