<!-- Heading-->
    <div class="row">
            <div  class="col-md-12">
             <img style="width:180px; float:left; margin-top:30px;" class="img-responsive img-rounded" src="{{STATIC_URL}}inicio/images/secbi_logo_color.png" alt="">
                <h1><strong>Semillero de ciencias básicas e ingeniería</strong></h1>
                <p> Sitio del semillero <strong>SECBI</strong> de la Universidad Cooperativa Colombia sede Montería.</p>

                <p><a class="btn-primary btn-lg" href="/discusion/user/register/"> <i class="fa fa-users"></i>&nbsp;Ingresar</a>&nbsp;&nbsp;<a href="/equipo/"> Sobre esta iniciativa</a></p>
            </div>
        </div>

