<!-- Heading-->

            <div  class="col-sm-4 col-md-12 banner">
             <img class="img-responsive img-rounded logo-c" src="{{STATIC_URL}}inicio/images/secbi_logo_color.png" alt="">

                    <h1 class="banner-title"><strong>Semillero de ciencias básicas e ingeniería</strong></h1>
                    <p> Grupo de investigación <strong>Secbi</strong> de la Universidad Cooperativa de Colombia sede Montería.</p>

                    <p><a class="btn-success btn" href="/discusion/user/register/"> Aplicar</a>&nbsp;&nbsp;<a href="/discusion/user/login/"> Ingresar </a></p>

            </div>
