<!-- Heading-->
    <div class="row">
        <div class="col-md-3">
                <img style="width:300px;" class="img-responsive img-rounded" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
            </div>
            <div  class="col-md-8">
                <h1><strong>Bienvenido a la comunidad DevHunter !</strong></h1>
                <p> DevHunter es una comunidad de libre esparcimiento de ideas y conocimiento en software y hardware libre formando por desarrolladores y emprendedores de Córdoba, Colombia.</p>
                {% if user.is_authenticated %}
                <a style="background-color:#3CADD4;"  class="btn btn-primary btn-lg" href="/discusion/">  Participa ! </a>
                <br><br>
                {% else %}
                <p>  <a style="background-color:#3CADD4;"  class="btn btn-primary btn-lg" href="/discusion/user/register/">  Únete ! </a>

                {% endif %}
            </div>
        </div>

         <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    En <a href="http://docs.devhunter.co">Devhunter <i class="fa fa-book"></i> docs</a> puedes buscar material y recursos compartidos por nuestros colaboradores.
                </div>
            </div>
