{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Comunidad {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            {% if user.is_administrator  %}
            <div class="col-lg-12">
                <a style="float:right;" class="button button-primary" href="{% url "feed:new_project" %}"> <i class="fa fa-plus"></i> Publicar Proyecto</a>
            </div>
            {% endif %}
            <div class="col-lg-12">
                <h1 class="page-header"><strong>Nuestas Iniciativas</strong>
                    <small>Fomentando Emprendimiento</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for proyecto in proyectos %}
            <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{{MEDIA_URL}}{{proyecto.cover}}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><strong>{{proyecto.title}}</strong></h3>
                <p>{{proyecto.description_short}}</p>
                
            </div>
        </div>
        <hr>
        {% endfor %}

{% endblock %}
