{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Comunidad {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nuestas Iniciativas
                    <small>Fomentando Emprendimiento</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Semillero de Investigacion - DevHunter</h3>
                <h4>Creando Ideas Innovadoras</h4>
                <p>Contamos con un semillero de investigación, en el cual promovemos la generación y desarrollo de ideas emprendedores, que brinden a nuestra sociedad soluciones a los diversos problemas sociales.</p>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{STATIC_URL}}inicio/images/robotica.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Robotica en los Colegios</h3>
                <h4>Electronica, Programacion.</h4>
                <p>Este proyecto busca el aprendizaje de robotica a estudiantes de diversos colegios, promoviendo el desarrollo y participacion activa en este campo tecnologico en Córdoba.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Spin - Off</h3>
                <h4>Enseñando a Innovar</h4>
                <p>Los nuevos integrantes tendran la oportunidad de aprender diversas habilidades para sumarce a los distintos proyectos en curso, o generar nuevo proyectos heredando las tecnicas aprendidas.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>


{% endblock %}
