
            <!-- Feed -->
            <div class="col-md-3">
                <h2><strong>Actividad reciente</strong></h2>
                <hr>
                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-user"></i> Nuevo miembro </span>
                    <p><a href="">Juanito Carlos</a> se unio.</p>

                </div>
                <div class="feed-item">
                    <span class="feed-title"> <i class="fa fa-camera-retro"></i> Nueva foto </span>
                     <img class="feed-img" src="http://static.bigstockphoto.com/images/landing/1/growingCollection.png" alt="">
                     <p><a href="">Juanito Carlos</a> agrego una foto al evento <a href="">Rock & Roll.</a></p>
                </div>

                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-comment-o"></i> Nuevo comentario </span>
                    <p><a href="">Juanito Carlos</a> comento en el tema <a href="">Mi madre me pega.</a></p>

                </div>
                <div class="feed-item">
                     <img class="feed-avatar" src="{{STATIC_URL}}inicio/images/logo.png" alt="">
                    <span class="feed-title"> <i class="fa fa-comment-o"></i> Nuevo comentario </span>
                    <p><a href="">Juanito Carlos</a> comento en el tema <a href="">Mi madre me pega.</a></p>
                </div>
            </div>

        <!--End row-->
