{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Comunida{% endblock %}

{% block content %}

<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Cazando Emprendedores</h1>
                </div>
            </div>
        </div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>¿Que Cazas Que?</h2>
                <p>Si, cazamos gente comprometida, esta iniciativa busca conectar a los desarrolladores y emprendedores en Córdoba para así generar proyectos, debates, conocer personas, trabajar en conjunto. </p><p>Creemos que para iniciar <strong>Startups</strong> locales de gran impacto debemos fortalecer primero la comunidad.</p>
            </div>
            <div class="col-sm-4">
                <h2>Contactanos</h2>
                <address>
                    <strong>DevHunter.co</strong>
                    <br>Universidad de Córdoba - Colombia
                </address>
                <address>
                    <br>Teléfono: --------
                    <br>@Email: <a href="mailto:#">contacto@devhunter.co</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-3">
                <img class="img-circle img-responsive img-center" src="http://www.gravatar.com/avatar/a3b0a1e3249c3756a6760a518db36dbb?d=identicon&s=200&r=g" alt="">
                <h3>Julio Cesar Castellanos</h3>
                <p>Lider - Developer</p>
            </div>
            <div class="col-sm-3">
                <img class="img-circle img-responsive img-center" src="http://www.gravatar.com/avatar/23b0906729c7022ad68d03afa4e6790e?d=identicon&s=200&r=g" alt="">
                <h3>Karen Cogollo Segura</h3>
                <p>Lider - Frontend</p>
            </div>
            <div class="col-sm-3">
                <img class="img-circle img-responsive img-center" src="http://www.gravatar.com/avatar/ce99546cf2f60d42eb42c64189d7c676?d=identicon&s=200&r=g" alt="">
                <h3>Iván José Díaz Morales</h3>
                <p>Lider - Developer</p>
            </div>
            <div class="col-sm-3">
                <img class="img-circle img-responsive img-center" src="http://www.gravatar.com/avatar/c06fed3cc76426014e5bf6f8b5f942dc?d=identicon&s=200&r=g" alt="">
                <h3>Deyby Garcia Montes</h3>
                <p>Lider - Developer</p>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}
