{% extends "foro/_base.html" %}

{% load i18n %}
{% load gravatar %}
{% block title %}Comunidad{% endblock %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>¿Quienes somos?</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quidem, asperiores eaque aut dolorem, esse quod minima est rerum obcaecati dolores doloremque incidunt porro ab quasi maxime, consequatur iure ex!</p>


                <h2>Lorem ipsum dolor</h2>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero modi quibusdam, culpa eos, consequatur itaque ipsa iste necessitatibus harum placeat. Ipsum repudiandae deleniti illo saepe cupiditate adipisci ab ipsa magni.</p>

            </div>
            <div class="col-sm-4">
                <h2>Contacto</h2>
                <address>
                    <strong>Secbi.co</strong>
                    <br>Universidad Cooperativa de Colombia <br>
                    Sede Montería
                </address>
                <address>
                    <br>Teléfono: (+57) xx-xx-xx-xxx
                    <br>@Email: <a href="mailto:#">contacto@secbi.co</a>
                </address>
            </div>
        </div>
        <!-- /.row -->




        </div>

{% endblock %}
