
            <div style="margin:0;" class="row">
            <div style="text-align:center; padding-bottom:20px;">
               <h2><strong>Ellos nos apoyan</strong></h2>


                        <center>
                        <a href="http://brujulab.co"><img src="{{STATIC_URL}}inicio/images/brujulab.png"></a>
                        <a href="http://caribemesh.org"><img src="{{STATIC_URL}}inicio/images/caribemesh_logo.png"></a>
                        <a href="http://www.caribecoders.com"><img style="border-radius: 0.4em;" src="{{STATIC_URL}}inicio/images/caribecoders.png"></a>
                        </center>
            </div>
        </div>
