{% load foro_tags i18n %}
{% load gravatar %}

{% if user.is_authenticated %}
    {% populate_bookmarks topics=page user=user  %}
{% endif %}




{# topic list #}
        <div class="container">
        <h2 >Últimos temas</h2>

        {% for t in page %}
			<div class="row">

                <div class="row-title">
                    {% if t.is_pinned %}
                        <i class="fa fa-thumb-tack"></i>
                    {% endif %}
                    {% if t.is_closed %}
                        <i class="fa fa-lock"></i>
                    {% endif %}

                        <div class="meta-panel">
                            <i class="fa fa-chevron-up"></i> <br>
                            <p>{{t.view_count}}</p>
                        </div>
                       <a class="row-link" href="{{ t.bookmark.get_absolute_url }}">{{ t.title }}</a>

                       <p class="meta"> {{t.date|date:"d M Y"}} por <a class="meta-link" href="/comunidad/user/{{t.user.id}}">{{t.user}}</a> en {% if show_subcategory %}
                            <a class="meta-link" href="{{ t.category.get_absolute_url }}">{{ t.category.title }} </a>
                        {% else %}
                            {% if t.category.parent %}
                                <a class="meta-link" href="{{ t.category.parent.get_absolute_url }}">{{ t.category.parent.title }}</a>
                            {% else %}
                                <a class="meta-link" href="{{ t.category.get_absolute_url }}">{{ t.category.title }}</a>
                            {% endif %}
                        {% endif %}</p>

                </div>
                <div class="row-info">
                    <div>



                    </div>
                    <div title="{{ t.last_active }}"><i class="fa fa-clock-o"></i> {{ t.last_active|shortnaturaltime }}</div>
                    <div><i class="fa fa-comment"></i> {{ t.comment_count }}</div>

                    <a href="/comunidad/user/{{t.user.id}}"><img style="margin-left:20px ; border-radius: 50%;-webkit-border-radius: 50%;" src="{% gravatar_url t.user.email 40 %}" alt="">
                    </a>
                </div>

			</div>
        {% empty %}
            <p>{% trans "There are no topics here, yet" %}</p>
        {% endfor %}

		</div>
