{% load i18n %}

<div style="margin-bottom:30px;" class="top-ops">




		<div style="display:inline-block;">
            {% if category %}
			    <a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{{ category.title }} <i class="fa fa-chevron-down"></i></a>
			{% else %}
                <a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">Todas las categorias <i class="fa fa-chevron-down"></i></a>
            {% endif %}

			<div class="tab-content js-tab-content js-categories-content">
				<ul class="menu">
                    {% for c in categories %}
                        <li><a class="menu-link" href="{{ c.get_absolute_url }}" >{{ c.title }}</a></li>
                    {% endfor %}
                    {% if category.parent %}
                        <li><a class="menu-link" href="{{ category.parent.get_absolute_url }}" >Todas las subcategorias</a></li>
                    {% else %}
                        <li><a class="menu-link" href="{% url "foro:topic-active" %}" >Todas las categorias</a></li>
                    {% endif %}
				</ul>
			</div>


		</div>

    <div style="display:inline-block; float:right;">
            {% if category %}
                <a class="btn-success btn" href="{% url "foro:topic-publish" category.pk %}"> <i class="fa fa-plus"></i> </a>
            {% else %}
                <a class="btn-success btn" href="{% url "foro:topic-publish" %}"> <i class="fa fa-plus"></i> </a>
            {% endif %}
        </div>

</div>
