{% extends "foro/_base.html" %}

{% load foro_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="container">

<div class="row">
            <!-- General info -->
            <div class="col-md-3">
                <img src="{{STATIC_URL}}inicio/images/secbi_logo_color.png" alt="">

                <br>
               <div class="list-group">
                    <a href="https://trello.com/b/lHqIxNMI/secbi" target="_blank" class="list-group-item">
                    Tareas y agenda <i  class="fa fa-calendar right-icon"></i>
                    </a>
                    <a href="https://github.com/secbi-ucc" target="_blank" class="list-group-item"><i class="fa fa-github right-icon"></i> Repositorios
                    </a>
                    <a href="https://gitter.im/secbi-ucc/General" target="_blank" class="list-group-item"><i class="fa fa-comments-o right-icon"></i> Chat
                    </a>
                </div>
                {% for miembro in miembros_email %}
                <a href="/discusion/user/{{miembro.id}}"><img class="avatar-list" src="{% get_gravatar_url miembro 60 %}" alt=""></a>
                {% empty %}
                <p>No hay miembros</p>
                {% endfor %}

                <ul class="numbers list-group">
                    <li class="list-group-item">
                        <span class="badge">{{miembros_count}}</span>
                         Miembros
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Reuniones pasadas
                    </li>
                </ul>
            </div>

<!-- Eventos -->
  <div class="col-md-8">




    <!--
        <ul class="nav">
            <li><a href="{% url "foro:index" %}" >Inicio</a><i class="fa fa-chevron-right"></i></li>

            {% if topic.category.parent_id %}
               <li><a href="{{ topic.category.parent.get_absolute_url }}" >{{ topic.category.parent.title }}</a><i class="fa fa-chevron-right"></i></li>
            {% endif %}

		    <li><a href="{{ topic.category.get_absolute_url }}" >{{ topic.category.title }}</a></li>
        </ul>
    -->
        <h1 class="headline">
            {% if topic.is_pinned %}
                <i class="fa fa-thumb-tack"></i>
            {% endif %}
            {% if topic.is_closed %}
                <i class="fa fa-lock"></i>
            {% endif %}

            <strong>{{ topic.title }}</strong>

            {% if user.is_moderator %}
                <a class="head-edit-link" href="{% url "foro:topic-update" topic.pk %}"><i class="fa fa-pencil"></i> Editar</a>
            {% elif user.pk == topic.user.pk and not topic.is_closed %}
                <a class="head-edit-link" href="{% url "foro:topic-update" topic.pk %}"><i class="fa fa-pencil"></i>Editar</a>
            {% endif %}


        </h1>


        {% if topic.category.parent_id %}
               <span class="label label-default"><a style="color:white;" href="{{ topic.category.parent.get_absolute_url }}" >{{ topic.category.parent.title }}</a></span>
        {% endif %}

        <span class="label label-default"><a style="color:white;" href="{{ topic.category.get_absolute_url }}" >{{ topic.category.title }}</a></span> &nbsp; | &nbsp;

        <span style="color:gray">   <i class="fa fa-eye"></i>{{topic.view_count}}</span> &nbsp; | &nbsp;
        <span style="color:gray"> {{topic.date}}</span> <br> <br>



        {% if user.is_moderator %}
            <div class="topic-moderation js-tabs-container">
                <a class="dropdown-button js-tab" href="#" data-related=".js-mod-content"><i class="fa fa-cogs"></i></a>

                <div class="tab-content js-tab-content js-mod-content">
                    <ul class="menu">
                        <li><a class="menu-link js-show-move-comments" href="#" ><i class="fa fa-comments"></i> {% trans "Select comments to move" %}</a></li>

                        {% if topic.is_removed %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-undelete" topic.pk %}" ><i class="fa fa-trash-o"></i> Restaurar</a></li>
                        {% else %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-delete" topic.pk %}" ><i class="fa fa-trash-o"></i> Eliminar tema</a></li>
                        {% endif %}

                        {% if topic.is_closed %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-unlock" topic.pk %}" ><i class="fa fa-unlock"></i> Abrir tema</a></li>
                        {% else %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-lock" topic.pk %}" ><i class="fa fa-lock"></i> Cerrar tema</a></li>
                        {% endif %}

                        {% if topic.is_pinned %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-unpin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> Desmascar tema</a></li>
                        {% else %}
                            <li><a class="menu-link js-post" href="{% url "foro:topic-pin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> Marcar tema</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>


            <div class="move-comments" style="display:none;">
                <div class="move-container">
                    <label class="move-label">{% trans "Topic id" %}:</label><!--
                 --><div class="move-input"><input id="id_move_comments_topic" name="topic" type="text" value="" /></div><!--
                 --><a class="move-link js-move-comments" href="#move_to">Mover</a>
                </div>
            </div>
        {% endif %}

        {% render_poll_form topic=topic user=user %}

        {% get_comment_list topic=topic as comments %}
        {% paginator_autopaginate comments per_page=COMMENTS_PER_PAGE as page %}

        {% include "foro/comment/_render_list.html" %}







        {% if user.is_authenticated %}
            {% if not topic.is_closed %}
                <div id="reply" class="reply">

                    <div class="comment-media">
                        <div class="comment-img">
                            <img class="comment-avatar" src="{% get_gravatar_url user=user size=50 %}" />
                        </div>

                        <div class="comment-body">
                            {% render_comments_form topic=topic %}
                        </div>
                    </div>

                </div>
                     {% render_paginator page %}
</div>

</div>
</div>
            {% endif %}

            <script>
                $( document ).ready(function() {

                    $( ".comment" ).bookmark( {
                        csrfToken: "{{ csrf_token }}",
                        target: "{% url "foro:bookmark-create" topic.pk %}",
                    } );


                    {% if user.is_moderator %}
                        $('.js-show-move-comments').move_comments( {
                            csrfToken: "{{ csrf_token }}",
                            target: "{% url "foro:comment-move" topic.pk %}",
                        } );
                    {% endif %}

                });
            </script>
        {% endif %}

{% endblock %}
