{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="container">

    <h1 class="headline">{% trans "Login" %}</h1>

    <div class="login">
        <form action="." method="post">
            {% csrf_token %}
            {% include "foro/_form.html" %}

            <input class="button" type="submit" name="post" value="{% trans "Login" %}" />
        </form>
    </div>

    <div class="login-links">
		<a class="login-link" href="{% url "foro:user-register" %}">{% trans "Create an account" %}</a>
		<a class="login-link" href="{% url "foro:password-reset" %}">{% trans "I don't know my password" %}</a>
        <a class="login-link" href="{% url "foro:resend-activation" %}">Reenviar correo de activación </a>
	</div>
</div>
{% endblock %}
