{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Ingreso{% endblock %}

{% block content %}

<div  style="width: 100%;  text-align: center;"class="container">

<div style="text-align:center; background-color:white; display: inline-block;" class="row">


    <h1 class="headline">Ingreso</h1>

    <div class="login">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

{% for field in form.hidden_fields %}
    {{ field.errors }}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="field">

        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
            </div>
{% endfor %}

            <input class="button btn-green" type="submit" name="post" value="Ingresar" />
        </form>
    </div>

    <div class="login-links">
		<a class="login-link" href="#">Crear una cuenta</a>
		<!--<a class="login-link" href="{% url "foro:password-reset" %}">No recuerdo mi contraseña</a>-->
        <a class="login-link" href="#">Reenviar correo de activación </a>
	</div>
</div>
</div>
{% endblock %}
