{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Cambio de contraseña correcto{% endblock %}
{% block content %}

<div class="container">


    <h1 class="headline">Cambio de contraseña correcto</h1>

    <p> {% trans "Hemos enviado instrucciones para configurar su contraseña por correo electrónico." %} </ p>
     <p> {% trans "Si usted no recibe el correo electrónico, por favor, asegúrese de que ha introducido la dirección que se registró, y compruebe su carpeta de correo no deseado." %} </ p>
</div>
{% endblock %}
