{% load i18n %}{% autoescape off %}
Usted está recibiendo este correo electrónico porque ha solicitado un restablecimiento de contraseña para la cuenta de usuario en secbi.co.

Por favor, vaya a la siguiente página y elige una contraseña nueva:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'foro:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

Gracias por usar nuestro sitio.

{% blocktrans %}El equipo de {{ site_name }}, Semillero de ciencias básicas e ingeniería {% endblocktrans %}

{% endautoescape %}
