{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block head-extra %}
    <script>

	$( document ).ready(function() {

        $( "input[name=honeypot]" ).hide();
        $( "label[for=id_honeypot]" ).hide();

	});

	</script>
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="headline">Participar en la comunidad</h1>



    <form action="." method="post">
        {% csrf_token %}
        {% include "foro/_form.html" %}

        <input class="button" type="submit" name="post" value="{% trans "Registrar" %}" />
    </form>
</div>
<br>
{% endblock %}
