{% extends "foro/_base.html" %}

{% load i18n %}

{% block title %}Registro{% endblock %}

{% block head-extra %}
    <script>

	$( document ).ready(function() {

        $( "input[name=honeypot]" ).hide();
        $( "label[for=id_honeypot]" ).hide();

	});

	</script>
{% endblock %}

{% block content %}

<div  style="width: 100%;  text-align: center;"class="container">

<div style="text-align:center; background-color:white; display: inline-block;" class="row">



    <h1 class="headline">Registrate en el semillero </h1>
    <br>


    <form action="." method="post">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

{{ form.non_field_errors }}

{% for field in form.hidden_fields %}
    {{ field.errors }}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="field">

        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
    </div>
{% endfor %}

        <input class="btn-green button" type="submit" name="post" value="Registro" />
    </form>
</div>
<br>

</div>
{% endblock %}
