{% load foro_tags i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} &middot; Secbi</title>
    <meta name="description" content="{{ config.site_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}foro/stylesheets/vendors/bootstrap.min.css">



	<link rel="stylesheet" href="{{ STATIC_URL }}foro/stylesheets/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foro/stylesheets/vendors/github.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foro/stylesheets/vendors/jquery.atwho.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foro/stylesheets/styles.css">

    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{STATIC_URL}}favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <script src="{{ STATIC_URL }}foro/scripts/vendors/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}foro/scripts/vendors/highlightjs/highlight.min.js"></script>
    <script src="{{ STATIC_URL }}foro/scripts/util.js"></script>
    <script src="{{ STATIC_URL }}foro/scripts/tab.js"></script>
    <script src="{{ STATIC_URL }}foro/scripts/postify.js"></script>
    <script src="{{ STATIC_URL }}foro/scripts/social_share.js"></script>

    {% if user.is_authenticated %}
        <script src="{{ STATIC_URL }}foro/scripts/vendors/atwho/jquery.caret.min.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/vendors/atwho/jquery.atwho.min.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/vendors/marked/marked.min.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/vendors/waypoints/waypoints.min.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/store.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/editor_image_upload.js"></script>
	    <script src="{{ STATIC_URL }}foro/scripts/editor.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/emoji_list.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/like.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/bookmark.js"></script>
        <script src="{{ STATIC_URL }}foro/scripts/notification.js"></script>
    {% endif %}

    {% if user.is_moderator %}
        <script src="{{ STATIC_URL }}foro/scripts/move_comments.js"></script>
    {% endif %}

    <script>

	$( document ).ready(function() {

        $.tab();

        $( 'a.js-post' ).postify( {
            csrfToken: "{{ csrf_token }}",
        } );

        {% if user.is_authenticated %}
            $.notification( {
                notificationUrl: "{% url "foro:topic-notification-ajax" %}",
                notificationListUrl: "{% url "foro:topic-notification-list-unread" %}",
                mentionTxt: "{user} te ha mencionado en {topic} %}",
                commentTxt: " {user}  comentó en {topic} %}",
                showAll: "Mostrar todo",
                empty: "No hay notificaciones aún",
                unread: "Sin leer",
            } );
        {% endif %}

	});

	</script>

    {% block head-extra %}{% endblock %}

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>


    {% include 'foro/_header.html' %}
    {% render_messages messages %}
    {% block content %}{% endblock %}
    {% include 'foro/_footer.html' %}

  </body>

</html>
