{% load foro_tags i18n %}

<div class="container">


<div class="row">
    {% include "jumbotron.html" %}
    <div class="nav-fixed nav">
        <ul class="header-tabs">
            {% if user.is_authenticated %}
                {% has_topic_notifications user as has_notifications %}
            <li style="margin-right: 24px;" class="menu-header dropdown">
                <a class="dropdown-toggle header-tab-link" data-toggle="dropdown" href="#">{{ user.username }} <i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="menu-link" href="{% url "foro:profile-detail" pk=user.pk slug=user.slug %}">Mi perfil</a></li>
                         <li><a class="menu-link" href="{% url "foro:topic-active" %}">Temas</a></li>
                            <li><a class="menu-link" href="{% url "foro:topic-unread-list" %}">Temas sin leer</a></li>
                            <li><a class="menu-link" href="{% url "foro:private-list" %}">Temas privados</a></li>

                            {% if user.is_administrator %}
                                <li><a class="menu-link" href="{% url "foro:admin" %}">Administrador</a></li>
                            {% endif %}

                            <li><a class="menu-link js-post" href="{% url "foro:user-logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">Salir</a></li>
                    </ul>
            </li>
            {% endif %}
        </ul>

        <li><a class="nav-link {% if request.get_full_path = "/" %} nav-link-active {% endif %}  " href="/">Inicio</a></li>
        <li><a class="nav-link {% if request.get_full_path = "/proyectos/" %} nav-link-active {% endif %}" href="/proyectos">Proyectos</a></li>
        <li><a class="nav-link" href="#">Publicaciones</a></li>

        <li><a class="nav-link {% if request.get_full_path = "/equipo/" %} nav-link-active {% endif %}" href="/equipo">Sobre</a></li>

    </div>
</div>
</div>
