{% load foro_tags i18n %}

    <header class="header-gray header js-tabs-container">

  <div class="container">

    <a style="" class="header-logo" href="/">
        <img style="width:200px;" src="{{STATIC_URL}}inicio/images/DevHunter-Logo-300-o.png" alt="">
    </a>

        {% if user.is_authenticated %}
            {% has_topic_notifications user as has_notifications %}

            <ul class="header-tabs">
                <li class="menu-header"><a class="header-tab-link js-tab" href="{% url "foro:search" %}" data-related=".js-search-content"><i class="fa fa-search"></i></a></li>
                <li style="margin-left: 24px;" class="menu-header"><a class="header-tab-link js-tab-notification{% if has_notifications %} is-highlighted{% endif %}" href="{% url "foro:topic-notification-list" %}" data-related=".js-notifications-content"><i class="fa fa-bell"></i></a></li>
                <li style="margin-left: 24px;" class="menu-header dropdown">
                    <a class="dropdown-toggle header-tab-link" data-toggle="dropdown" href="#">{{ user.username }} <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="menu-link" href="{% url "foro:profile-detail" pk=user.pk slug=user.slug %}">Mi perfil</a></li>
                             <li><a class="menu-link" href="{% url "foro:topic-active" %}">Temas</a></li>
                                <li><a class="menu-link" href="{% url "foro:topic-unread-list" %}">Temas sin leer</a></li>
                                <li><a class="menu-link" href="{% url "foro:private-list" %}">Temas privados</a></li>

                                {% if user.is_administrator %}
                                    <li><a class="menu-link" href="{% url "foro:admin" %}">Administrador</a></li>
                                {% endif %}

                                <li><a class="menu-link js-post" href="{% url "foro:user-logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">Salir</a></li>
                        </ul>
                </li>
            </ul>

            <div class="header-tabs-content">
                <div class="header-tab-content js-tab-content js-notifications-content"></div>

                <div class="header-tab-content js-tab-content js-search-content">
                    {% render_search_form %}
                </div>

            </div>
        {% else %}

            <a class="header-link" href="{% url "foro:user-register" %}?next={% firstof request.get_full_path|urlencode '/' %}"> Registrate</a>
            <span class="header-link">&nbsp; ó &nbsp;</span>
            <a class="header-link" href="{% url "foro:user-login" %}?next={% firstof request.get_full_path|urlencode '/' %}">Ingresa <a>

        {% endif %}



	</header>

    <div class="nav-fixed nav">
        <div class="container">
        <li><a class="nav-link {% if request.get_full_path = "/" %} nav-link-active {% endif %}  " href="/">Inicio</a></li>
        <li><a class="nav-link {% if request.get_full_path = "/discusion/" %} nav-link-active {% endif %} " href="/discusion">Discusion  <span class="badge">3</span></a></li>
        <li><a class="nav-link {% if request.get_full_path = "/proyectos/" %} nav-link-active {% endif %}" href="/proyectos">Proyectos</a></li>
        <li><a class="nav-link {% if request.get_full_path = "/docs/" %} nav-link-active {% endif %}" href="/proyectos">Docs</a></li>
        <li><a class="nav-link {% if request.get_full_path = "/equipo/" %} nav-link-active {% endif %}" href="/equipo">Equipo</a></li>
        </div>
    </div>





