<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>DevHunter, Una iniciativa para fomentar el emprendimiento tecnológico en Córdoba. </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Una iniciativa para fomentar el emprendimiento tecnológico en Córdoba." />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{{STATIC_URL}}landing/js/html5shiv.js"></script><![endif]-->
    <script src="{{STATIC_URL}}landing/scripts/jquery.min.js"></script>
    <script src="{{STATIC_URL}}landing/scripts/skel.min.js"></script>
    <script src="{{STATIC_URL}}landing/scripts/skel-layers.min.js"></script>
    <script src="{{STATIC_URL}}landing/scripts/init.js"></script>

    <link rel="stylesheet" href="{{STATIC_URL}}landing/stylesheets/skel.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}landing/stylesheets/styles.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}landing/stylesheets/style-xlarge.css" />

  </head>

  <body class="landing">

    <!-- Header -->
      <header id="header">
        <h1 style=" margin-top:15px;"><a href="/"><img width="300px;" src="{{STATIC_URL}}landing/images/DevHunter-Logo-300.png"></a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/comunidad">Comunidad</a></li>
            <li><a href="https://trello.com/b/vbgSpQZs/agenda-devhunter">Agenda</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="/comunidad/user/login/?next=/comunidad/" class="button special">Ingresar</a></li>
          </ul>
        </nav>
      </header>


  {% block content %}{% endblock %}

  </body>
</html>
