{% extends '_base.html' %}


{% block content %}

<section id="banner">
        <h2>Muy pronto la comunidad <br>Devhunter</h2>
        <p><a style="color:white; border-bottom: 1px dotted white;;" href="http://juliocesar.io/blog/2015/02/06/una-iniciativa-para-fomentar-emprendimiento/">Una iniciativa para fomentar el emprendimiento</a> tecnológico en Córdoba - Colombia.</p>

        <ul class="actions">
          <li>
            <a href="https://github.com/devhunterco" class="button big"> <i class="fa fa-github"></i>
            Participar en Github</a>
          </li>
        </ul>
          <p><h2 style="font-size:24px;">Apoya:</h2>
            <a href="http://caribemesh.org/"><img style="width:120px;" src="{{STATIC_URL}}landing/images/caribemesh_logo.png"></a>&nbsp&nbsp&nbsp<a href="http://brujulab.co/"><img style="width:120px;" src="{{STATIC_URL}}landing/images/brujulab_logo.png"></a>
          </p>
          <p style="font-size:13px; margin-top:10px;">Hecho con  <i class="fa fa-heart-o"></i> en Córdoba-Colombia</p>
</section>


{% endblock %}
